<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>LangHub</title>
    <link rel="stylesheet" href="/rsc/css/master.min.css">
    <script src="https://use.fontawesome.com/835f86fde3.js"></script>
  </head>

  <body>
    <div class="container-sidebar">
      <header class="header">
        <div class="logo">
          <img src="/rsc/img/conlang_flag_icon.png" />
        </div>
        <nav>
          <a href="/">Home</a>
          <a href="/intro.html">Intro</a>
          <a href="/lang/">Conlangs</a>
          <div class="right">
            <a href="/user/login.html" class="active">Log in</a>
            <a href="/user/register.html">Register</a>
          </div>
        </nav>
      </header>
      <article class="main">
        <section class="content">
        </section>
      </article>
      <aside class="sidebar">

      </aside>
      <footer class="footer">
        <a href="https://github.com/nschulzke/CS260CreativeProject1">Repository</a>
      </footer>
    </div>
  </body>

</html>
